
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,600');


body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 600 !important;
}

a,
a:hover,
a:focus,
button {
    text-decoration: none !important;
    outline: none !important;
}

::selection {
    background: rgba(156, 175, 179, 0.6);
}

::-moz-selection {
    background: rgba(156, 175, 179, 0.6);
}

.back_top_angle_up {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;
    background-color: #DAAB29;
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 35px;
    transition: all 0.5s;
}

.back_top_angle_up i {
    color: #fff;
    line-height: 35px;
    font-size: 28px;
    display: block;
}


.text_custom {
    color: #f1416a;
}

.bg_cover_custom {
    background-color: #f1416a;
}

.btn_rounded_border {
    border-radius: 30px;
}


.full_height_100vh {
    height: 100vh;
}

.vertical_content_manage {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section_subtitle {
    max-width: 600px;
}




.custom-nav {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.custom-nav .social_menu li a {
    color: #fff;
    transition: all 0.5s;
    font-size: 18px;
}

.custom-nav .social_menu li:hover a {
    color: #f1416a;
}

.custom-nav .social_menu .list-inline-item:not(:last-child) {
    margin-right: 8px;
}

.custom-nav .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    background-color: transparent !important;
    padding: 15px 0;
    margin: 0 7px;
    transition: all 0.4s;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.navbar-brand img {
    height: 28px;
}


.stickyadd.custom-nav .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}

.custom-nav .navbar-brand.logo img {
    height: 47px;
}

.stickyadd.custom-nav {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom-nav .navbar-nav li.active a,
.custom-nav .navbar-nav li a:hover,
.custom-nav .navbar-nav li a:active {
    color: #f1416a !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-nav .btn-custom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}



.bg_home_personal_img {
    background-image: url(../images/home_one.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}

.home_title {
    font-size: 42px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.2;
}

.home_text_personal {
    max-width: 800px;
}

.home_subtitle {
    color: #dadada;
    max-width: 600px;
    line-height: 1.8;
}

.home_table_cell_center {
    display: table-cell;
    vertical-align: middle;
}

.home_table_cell {
    display: table;
    width: 100%;
    height: 100%;
}

.banner-home {
    height: 500px;
}



.up-index {
    z-index: 2;
}



.bg_clip_home{
    clip-path: polygon(0 0, 100% 0, 100% 88%, 25% 100%, 0 88%);
}




.valores{
    border-radius: 7px;
    border: 1px solid #e7e7e7;
    padding: 30px;  
}

.edu_detail h5{
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}

.blog_image{
    width: 90%;
}  
.reglamento{
    list-style:none;
    line-height: 2.2em;
} 



.label {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    height: 24px;
    padding: 0 10px;
    text-align: center;
    border-radius: 30px;
    background: #f1416a;
}


.bg_contact {
    background: #F6F6F6;
}




.footer_content {
    padding: 70px 0px;
}

.footer_content .footer-alt p {
    font-size: 16px;
}


@media (max-width: 768px) {
    .custom-nav {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .vertical_content_manage {
        display: inherit;
    }
    .home_title {
            font-size: 32px;
    }
    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: rgba(0, 0, 0, 0.55) !important;
    }
    .custom-nav .navbar-nav li.active a {
        color: #f1416a !important;
    }
    .custom-nav>.container {
        width: 90%;
    }
    .social_menu {
        display: none;
    }
    .custom-nav .logo .logo-dark {
        display: inline-block;
    }
    .custom-nav .logo .logo-light {
        display: none;
    }
    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .client_info {
        font-size: 14px;
    }
    .bg_clip_home{
        clip-path: none;
    }

    .home-bg,.h-100vh.jarallax,.h-100vh.bg-dark,.banner-home{
        padding: 110px 0;
    }

    .h-100vh,.banner-home{
        height: auto;
    }
}